.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.bio {
    text-align: center;
    color: black;
    margin-top: 16px;
}

.waveButton {
    cursor: pointer;
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 5px;
}
.stats {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 10px;
}

.stats__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list__el {
    background-color: oldlace;
    padding: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.form__label {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form__textarea {
    resize: vertical;
    max-height: 500px;
    min-height: 50px;
}

button[disabled] {
    cursor: not-allowed;
    background: rgb(171, 169, 169);
}

[data-isloading='true']:after {
    content: '';
    animation: loading-dots 3s linear infinite;
}

/* KeyFrames */
@-webkit-keyframes loading-dots {
    0% {
        content: '.';
    }
    50% {
        content: '..';
    }
    100% {
        content: '...';
    }
}
@-moz-keyframes loading-dots {
    0% {
        content: '.';
    }
    50% {
        content: '..';
    }
    100% {
        content: '...';
    }
}
@keyframes loading-dots {
    0% {
        content: '.';
    }
    50% {
        content: '..';
    }
    100% {
        content: '...';
    }
}
